sudo: false
language: ruby
before_script: .travis/before.sh
install:
  - gem install bundler -v "~> 1.17"
  - bundle install --deployment --without development production
rvm: 2.5.7
cache: bundler
branches:
  only:
  - master
addons:
  postgresql: "9.4"
  apt:
    packages:
    - postgresql-server-dev-9.4
