<!DOCTYPE html>
<html>
<head>
  <title>Push • <%= @title %></title>
  <%= bootstrap_assets %>
  <link rel="stylesheet" media="screen, projection" type="text/css" href="/manage.css">
  <% if @refresh_automatically %>
    <meta http-equiv="refresh" content="6">
  <% end %>
</head>
<body style="padding-top: 50px;">
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="brand" href="#">
          Push
        </a>

        <ul class="nav">
          <li><a href="<%= url('/jobs?scope=current') %>">Jobs</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
