<% @title = 'Commits' %>

<h2>Commits</h2>

<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>ID</th>
      <th>Pod</th>
      <th>Version</th>
      <th>Created At</th>
      <th>Updated At</th>
    </tr>
  </thead>
  <tbody>
    <% @collection.each do |commit| %>
      <!-- TODO Use a partial here and in show.erb? -->
      <tr>
        <% href = url("/commits/#{commit.id}") %>
        <% [commit.id, commit.pod_version.pod.name, commit.pod_version.name, commit.created_at.to_formatted_s(:rfc822), commit.updated_at.try(:to_formatted_s, :rfc822)].each do |value| %>
          <td><a href="<%= href %>"><%= value || 'n/a' %></a></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
